@use 'utils/variables.scss' as vars;
@use './blocks/card';
@use './blocks/stars';

body {
  margin: 0;
  font-family: vars.$font-main;
  color: vars.$color-text;
  font-size: vars.$font-size-base;
  line-height: vars.$line-height-base;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
